<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaoweihao.mrtranslator">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".ui.CollectionActivity"
            android:label="@string/collection"
            />
        <activity android:name=".ui.SettingsPreferenceActivity"
            android:label="@string/setting"
            />

        <service android:name=".service.ClipboardService">
            <intent-filter>
                <action android:name="com.zhaoweihao.mrtranslator.ClipboardService"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.StartClipboardServiceAtBootReceiver"
            android:label="StartClipboardServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>